.bg{
    background-position-x: center;
    background-repeat: no-repeat;
    background-image: url(hot-gadgets/bg-1.png);
    
}

.card{
    border: none;
    box-shadow: 5px 5px 10px 10px lightgrey;
   
}

.container{
    margin-bottom: 50px;
    }
.btn {
    background-image: linear-gradient(rgb(67, 68, 55), rgb(17, 16, 13));
}
h6{
    color: rgba(211, 147, 29, 0.904);
}
.laptop1, .laptop2, .laptop3{
    border-radius: 10px;
    padding: 10px;
}
h3{
    color: orange;
    text-align: center;

}

.item2, .item3, .item1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    box-shadow: 5px 5px 10px 10px lightgrey;
}
.item2, .item3, .item1:hover{
    cursor: pointer;
}