body{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    font-family: sans-serif;
    height: 60px;
    background-color: rgb(255, 254, 254);
    box-shadow: 1px 1px 1px 1px gray;
    z-index: 200;
}
.logo{
    color: black;
    font-size: 30px;
}
.links{
    padding-top: 20px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    
}
.links a{
    text-decoration: none;
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 0px;
    margin: 0px 20px;

}
.links a:hover{
    border-top: 4px solid red;
    color: black;
    transition: all .3s ease-in-out;

}
.icon-burger{
    display: none;
    /* transform: translateY(-10%); */

}
.line{
    width: 30px;
    height:4px ;
    background-color: black;
    margin: 6px;
    border-radius: 2px;
    transition: all .3s ease-in-out;
}
#nav-toggle{
    display: none;
   }
@media screen  and (max-width:768px){
    .icon-burger{
        display: block;
        cursor: pointer;
        margin-right: 25px;
    }
    .logo{
        margin-left: 25px;
    }
    nav{
        position: fixed;
        justify-content: space-between;


    }
    .links a{
        color: white;
    }
    .links a:hover{
        color: white;
    }
    .links{
        padding-top: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        left: 0;
        right: 0;
        bottom: 100%;
        position: fixed;
        overflow: hidden;
        z-index: 9;
        top: 60px;
        background-color: rgba(42, 38, 38, 0.829);
        width: auto;
        height: auto;
        flex-direction: column;
        transition: all .4s ease-in-out;
        justify-content: space-evenly;
        box-shadow: 1px 1px 1px 1px gray;

    }
   nav :checked ~ .links{
    bottom:30vh ;
   }
   nav :checked ~ .icon-burger .line:nth-child(1){
        transform: translateY(10px) rotate(-45deg);
   }
   nav :checked ~ .icon-burger .line:nth-child(3){
        transform: translateY(-10px) rotate(45deg);
   }
   nav :checked ~ .icon-burger .line:nth-child(2){
        opacity: 0;
   }
   
    
}