body{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: sans-serif;
    height: 70px;
    background-color: #3e65da;
}
.logo{
    color: white;
    font-size: 30px;
}
.links{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}
.links a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
}
.links a:hover{
    background-color: black;
}
.icon-burger{
    display: none;
    transform: translateY(-10%);

}
.line{
    width: 30px;
    height:4px ;
    background-color: white;
    margin: 6px;
    border-radius: 2px;
    transition: all 1s ease-in-out;
}
#nav-toggle{
    display: none;
   }
@media screen  and (max-width:768px){
    .icon-burger{
        display: block;
        cursor: pointer;
        margin-right: 25px;
    }
    .logo{
        margin-left: 25px;
    }
    nav{
        position: fixed;
        justify-content: space-between;

    }
    .links{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        left: 0;
        right: 0;
        bottom: 100%;
        position: fixed;
        overflow: hidden;
        z-index: 9;
        top: 50px;
        background-color: rgba(0, 0, 0, 0.8);
        width: auto;
        height: auto;
        flex-direction: column;
        transition: all .5s ease-in-out;
        justify-content: space-evenly;

    }
   nav :checked ~ .links{
    bottom:30vh ;
   }
   nav :checked ~ .icon-burger .line:nth-child(1){
        transform: translateY(10px) rotate(765deg);
   }
   nav :checked ~ .icon-burger .line:nth-child(3){
        transform: translateY(-10px) rotate(-765deg);
   }
   nav :checked ~ .icon-burger .line:nth-child(2){
        opacity: 0;
   }
   
    
}