h1{
    font-size: 50px;
}
body{
    font-family: 'Poppins', sans-serif;
}
.highlight{
    color: rgba(255, 166, 0, 0.897);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.half-width img{
    width: 100%;

}