.menu-list{
    /* display: none; */
    height: 700px;
    width: 200px;
    background-color: #080D31;
    z-index: 1;
    margin: 37px;
    margin-left: -65px;
    

}
#menu-icon:hover .menu-list{
    display: block;
}
.sub-menu-1{
    /* display: none; */
}
/* .menu-list .menu-list-item:hover .sub-menu-1{
    display: block;
} */

.menu-list-item a{
  
    background-color: aqua;
    text-decoration: none;
    color: white;
}



.a{
    background-color: red;
}